<% include ../partials/header %>

<div id='mainNewDiv' class='ui main text container segment'>
    <div class='ui huge header'> Edit <%= book.bTitle%> </div>

    <form class='ui form' action='/books/<%= book._id %>?_method=PUT' method='POST'>
      
            <div class="field">
                <label>Book Title</label>
                <input required name='book[title]' type="text" value='<%= book.title %>'>
            </div>
            <div class="field">
                <label>Book Author</label>
                <input required name='book[author]' type="text" value='<%= book.author %>'>
            </div>
            <div class="field">
                <label>Published in </label>
                <input required name='book[yearPublish]' type="text" value='<%= book.yearPublish%>'>
            </div>
            <div class="field">
                <label>Cover page url</label>
                <input required name='book[image]' type="text" value='<%= book.image%>'>
            </div>
            <div class="field">
                <label>Review </label>
                <textarea required name='book[review]'> <%= book.review%> </textarea>
            </div>
            <div class="ui field input focus">
                <label> Score </label>
                <input type="number"  name='book[score]' min='0' max='10' step='0.5' value='<%= book.score%>'>
            </div>
        <div >
            <span>
                <input class='ui big button blue' type='submit'>
            </span>
            <span class='right'>
                <a id='goBackBtn' href='/books' class='ui small black button'> Cancel </a>
            </span>
        <div>
    </form>
</div>

<form id='deleteBtn' action='/books/<%=book._id %>?_method=DELETE' method='POST'>
    <button class='ui big button red'>Delete Post</button>
</form>
<% include ../partials/footer %>