<% include ../partials/header %>

<div id='mainDivIndex' class='ui container main text'>
    <div id='mainHeader' class='ui huge header'>My reviewed books</div>
        <div class='ui top attached segment'>
            <div class='ui divided items'>
                <% books.reverse().forEach(function(books){ %>
                    <div class='item'>
                        <div class='image'>
                            <img src='<%= books.image %>'>
                        </div>
                        <div class='content'>
                            <a class='ui huge header' href='/books/<%= books.id %>'><%= books.title %></a>
                            
                            <p href='/books/<%= books.id %>'>By <%= books.author %></p>
                            <div class='extra'>
                                Rating: <strong><%= books.score %> /10</strong>
                            </div>
                            <div class='description'>
                                <h5>Review:</h5>
                                <!-- Again '-' to allow HTML tag reading -->
                                <p><%- books.review.substr(0,150)%>...</p>
                            </div>
                            <hr>
                            <div class='extra'>
                                <a class='ui floated tiny basic blue button' href='/books/<%= books.id %>'> Read more <i class='right chevron icon'></i></a>
                            </div>
                        </div>
                
                    
                    </div>  
               <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
