<% include ../partials/header %>

<div id='showMainDiv' class='ui main text container segment'>
    <div class='ui two column grid'>
        <div class='ui centered huge header column'>
            <%= book.title %> 
        </div>
        <div class='column'>
            Written by: <%= book.author %> <br> 
            <em>Published in <%= book.yearPublish %></em>
        </div>
    </div>

    <div id='imageDiv' class='ui top attached'>
                <div class='text-center'>
                    <img class='ui medium rounded image centered' src="<%=book.image%>">
                </div>  
        
    </div>
    <div class='ui top attached '>
        <div class='item'>
            <img class='ui centered small image rounded' src='<%= book.bImage %>'> <br>
            <div class='ui container content'>
                <!--Dash instead of = reads HTML format tags-->
                    <%- book.review %>
            </div>
            <hr>
            <div class='ui container'>
                <p><strong>Post created <%= book.created.toDateString()%></strong></p> 
            </div>
        </div><br>
        <p> <strong>
            Book Score:
            <% for(var i = 0 ; i < book.score ; i++){%>
            <i class="star icon"></i>
            <%}%>
            <% for(var i = 0 ; i < (10-book.score) ; i++){%>
                <i class="star outline icon"></i>
            <%}%>
        </strong></p>
    </div>
    <br><hr><br>
    <a class='ui blue basic button' href='/books'> Go back </a>
    <%if(currentUser){ %>
        <a class='ui blue yellow button' href='/books/<%= book._id %>/edit'> Edit </a>
    <%}%>
        
</div>
<% include ../partials/footer %>